@import "~antd/dist/antd.css";
.signup-form {
  width: 400px;
  height: 500px;
  border-radius: 8px;
  margin: auto;
  text-align: center;
  background-color: #faf9f9;
}
h4 {
  font-size: 24px;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5),
    2px 2px 2px rgba(206, 89, 55, 0);
}
.signup-form:hover {
  box-shadow: 0px 0px 50px -18px rgba(0, 0, 0, 0.21);
  cursor: progress;
  transition: ease-in-out all 0.5s;
}
.signup-email-information {
  margin-top: 10px;
  height: 45px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccd0d5;
}
.signup-password-information {
  margin-top: 10px;
  height: 45px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 8px;
  border: 1px solid #ccd0d5;
  margin-bottom: 10px;
}
.signup-password-information:focus {
  outline: 0;
  border: 1px solid #7fb3d5;
}
.signup-email-information:focus {
  outline: 0;
  border: 1px solid #7fb3d5;
}
input::placeholder {
  opacity: 0.7;
  padding: 20px;
}
.signup-button-login {
  background-color: #2980b9;
  margin-top: 10px;
  width: 330px;
  height: 50px;
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5),
    0px 0px 0px rgba(206, 89, 55, 0);
}
.signup-button-login:hover {
  background-color: #1665ce;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
.signup-line {
  align-items: center;
  border-bottom: 2px solid #d9d9dd;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}
.signup-a-tag {
  margin: 15px;
  font-size: 16px;
  color: #2980b9;
}
.signup-a-tag:hover {
  text-decoration: underline;
}

.uploader {
  display: inline-flex;
}
.photo-uploader {
  display: inline-block;
}
