/* @import "~antd/dist/antd.css";
.signup-page{
    background-color: #fff;
  width: 400px;
  height: 350px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
  text-shadow: 0 0 0.2px #00000091;
  background-color: #ffffff;
} */
@import "~antd/dist/antd.css";
.signup{
    background-color: #faf9f9;
  width: 400px;
  height: 350px;
  text-align: center;
  border-radius: 10px;
  padding: 0;
  margin: 100px;
  box-sizing: border-box;
  text-shadow: 0 0 0.2px #00000091;
}
h4{
    font-size: 24px;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5), 2px 2px 2px rgba(206,89,55,0);
}
.signup-form:hover {
  box-shadow: 0px 0px 50px -18px rgba(0, 0, 0, 0.21);
  cursor: progress;
  transition: ease-in-out all 0.5s;
}
.signup-information {
  margin-top: 10px;
  height: 45px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #CCD0D5;
}
.signup--information {
  margin-top: 10px;
  height: 45px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 8px;
  border: 1px solid #CCD0D5;
  margin-bottom: 10px;
}
.signup-password-information:focus {
  outline: 0;
  border: 1px solid #7FB3D5 ;
}
.signup-email-information:focus {
  outline: 0;
  border: 1px solid #7FB3D5 ;
}
input::placeholder {
  opacity: 0.7;
  padding: 20px;
}
.signup-button-login {
  background-color: #2980B9;
  margin-top: 10px;
  font-size: 17px;
  width: 330px;
  height: 50px;
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5), 0px 0px 0px rgba(206,89,55,0);
}
.signup-button-login:hover {
  background-color: #1665CE;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
.signup-line {
  align-items: center;
  border-bottom: 2px solid #D9D9DD;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}
.signup-a-tag {
  margin: 15px;
  font-size: 16px;
  color: #2980B9;
}
.signup-a-tag:hover{
    text-decoration: underline;
}
.signup-acc-button {
  background-color: #27AE60;
  width: 180px;
  height: 45px;
  color: white;
  border-radius: 8px;
  border: none;
}
.signup-acc-button:hover {
  background-color: #229954;
  cursor: pointer;
}