@import '~antd/dist/antd.css';


.nav{
    display:inline-flex;
    box-shadow: 0 1px 2px #ccc ;
    width: 100%;
    height: 70px;
    margin-bottom: 60px;
}
.title{
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
    font-size: 25px;
    cursor: pointer;
    color: #333333;
    background: #FFFFFF;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}
.items{
    margin-top: 20px;
    margin-left: 10rem;
}
span{
    color: #229954;
}

input{
    margin-top: 5px;
    width: 14rem;
    text-align: center;
    /* border: none; */
    /* color: #229954; */
    height: 30px;
}
.search-bar{
    position: absolute;
    display: inline-flex;
    top: 5%;
    left: 80%;
    transform: translate(-50%,-50%);
    background: white;
    height: 40px;
    background: transparent;
    padding: 5px;
}
.input{
    border: 1px solid #229954;
    background: none;
    text-align: center;
    outline: none;
    float:left;
    padding: 0;
    font-size: 14px;
    transition: 0.4s;
    line-height: 40px;
    width: 200px;
}
.search:hover{
    background: #229954 ;
    border-color: #229954;
    color: white;
}
/* .search:hover{
    background-color: #229954;
    color: white;
} */
.search{
    color: #229954;
    float: right;
    background-color: #229954;
    width: 30px;
    border-color: #229954;
    height: 30px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.dash-board {
    margin-top: 25px;
}